@using IESPeniasNegras.Ecotrans.Nucleo.Acciones.Usuarios
@model  ListarUsuarioResponse

<h2>Listado de Usuarios</h2>
@Html.ActionLink("Nuevo Usuario", "Nuevo", "Usuarios", null, new { @class="btn btn-info" })
@if (Model.Elementos.Count == 0)
{
    <h3>UPPS .... Lo sentimos, no encontramos ningún usuario  registrada</h3>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                
            </tr>
        </thead>

        <tbody>
            <!---Tenemos el listado, los elementos pero no los enlaces--->

            @foreach(var usuario in Model.Elementos)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@Html.ActionLink(@usuario.Nombre, "Detalles", new {Id = usuario.Id})</td>

                </tr>
            }
        </tbody>
    </table>
}
