@model ListarObjetoResponse
@{
    ViewData["Title"] = "Listado de Objetos";
}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Peso</th>
            <th>Dimensiones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var objeto in Model.Elementos)
        {
            <tr>
                <td>@Html.ActionLink(objeto.Nombre, new { id= objeto.Id}, null)</td>
                <td>@objeto.Estado</td>
                <td>@objeto.Peso</td>
                <td>@objeto.Dimensiones</td>
            </tr>
        }
    </tbody>
</table>